.container {
  margin: 0 auto;
  width: 750px;
}

body {
  transition: 0.8s ease;
  animation: smoothShow 800ms;
}

.section-main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.description {
  display: flex;
  flex-direction: column;
  width: 340px;
}

.description h1 {
  color: #212529;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
}

.description h2 {
  color: #212529;
  font-weight: 600;
  margin-bottom: 24px;
  line-height: 150%;
  width: 391px;
  font-size: 24px;
}

.description p {
  color: #495057;
  line-height: 150%;
  margin-bottom: 24px;
  font-size: 15px;
  width: 320px;
}

.edit-strong {
  color: #364fc7;
}

#img-1 {
  width: 87px;
  height: 92px;
}

#img-2 {
  width: 87px;
  height: 92px;
  margin-left: 18px;
}

#img-3 {
  width: 197px;
  height: 92px;
  margin-top: 19px;
}

#img-4 {
  width: 87px;
  height: 209px;
  margin-left: 18px;
}

.div-top-header {
  display: flex;
}

.login {
  width: 400px;
  height: 550px;
  display: flex;
  flex-direction: column;
  border: 1px solid #e9ecef;
  border-radius: 4px;
}

.login h2 {
  color: #212529;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  margin-top: 44px;
}

.username-div {
  display: flex;
  flex-direction: column;
}

.username-div label {
  color: #212529;
  font-size: 16px;
  margin-top: 26px;
  margin-bottom: 12px;
}

.username-div input {
  width: 300px;
  height: 38px;
  background: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 4px;
  padding-left: 13px;
  outline: none;
}

.password-div {
  display: flex;
  flex-direction: column;
}

.password-div label {
  color: #212529;
  font-size: 16px;
  margin-top: 26px;
  margin-bottom: 12px;
}

.password-div input {
  width: 300px;
  height: 38px;
  background: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 4px;
  margin-bottom: 30px;
  padding-left: 18px;
  outline: none;
}

.spinner-img {
  animation: loading 1s infinite;
}


.container-login {
  width: 300px;
  margin: 0 auto;
}

.btn-acess {
  width: 300px;
  height: 38px;
  background: #364fc7;
  border: 1px solid #364fc7;
  border-radius: 4px;
  color: #fcfeff;
}

.login small {
  color: #212529;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  margin-top: 26px;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.login p {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #495057;
  text-align: center;
}

.btn-register {
  width: 300px;
  height: 38px;
  background: #fcfeff;
  border: 1px solid #e9ecef;
  border-radius: 4px;
  color: #212529;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  margin-top: 33px;
}

.msg-error {
  display: block;
  color: #c73650;
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 20px; 
  margin-top: -20px;
}

.modal-loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.spinner {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

.loading {
  width: 20px;
  height: 20px;
  background-color: #364FC7;
  border-radius: 50%;
  display: inline-block;
  animation: motion 2.2s infinite;
}

.loading-msg {
  color: #fff;
  margin-top: 5px;
  font-family: sans-serif;
  letter-spacing: 3px;
  font-size: 10px;
}

.hidden {
  display: none;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@keyframes smoothShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes motion {
  0% {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(-50px) scale(0.3);
  }
  50% {
    transform: translateX(0) scale(1);
  }
  75% {
    transform: translateX(50px) scale(0.3);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}